

body {
	foreground-color: #FFC;
	background-color: #CFF;
	letter-spacing: normal;
	text-align: justify;
	vertical-align: middle;
	word-spacing: normal;
	white-space: normal;
	display: inline;
	font-size: 120%;
	box: #FFF;
	box-shadow: 0px 0px 3px 2px #666;
	border: 15;
	border-style: outset;
	width: 950px;
	height: 1510px;
	padding: 10;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	list-style-type: lower-roman;
	columns: 3;
	column-count: 3;
	float: left;
	clear: both;
	box-sizing: border-box;
	resize: both;
	list-style-position: inside;
	break-before: left;
	margin-right: 100px;
	margin-left: 100px;
	content: normal;
	
	}

p {
	text-align: center;

	}

h1,h2,h3,h4,h5,h6 {
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-family: 'Gilda Display', serif;
	text-indent: 0.25px;
	white-space: normal;
	display: block;
	text-align: center;
	color: #033;
	text-decoration: none;
	text-shadow: 2px 1px 6px #666;
}
